<!-- accounts_home.html -->
{% extends 'students/base.html' %}

{% block title %}Accounts Home{% endblock %}

{% block accounts_content %}
    <!-- Content specific to accounts home page goes here -->
    <h2>Welcome, Accounts!</h2>
    <p>This is the home page for accounts.</p>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <a href="{% url 'students:search_student' %}" class="d-flex flex-column align-items-center justify-content-center {% if request.resolver_match.url_name == 'search_student' %}active{% endif %}">
          <i class="fas fa-search fa-4x text-warning mb-3"></i>
          <span class="text-center text-uppercase font-weight-bold">Search Students</span>
        </a>
      </div>
{% endblock %}
